
<div class="header-bg text-center">
  <h1 class="crud-text">Inventario Automotriz Nexos</h1>
</div>

<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h5 class="card-title">Acciones</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4 mb-2">
          <button class="btn btn-success btn-block" (click)="exportar()">Exportar inventario a Excel</button>
        </div>
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="filtroNombreProducto" placeholder="Buscar producto">
            <div class="input-group-append">
              <button class="btn btn-success" (click)="filtrarPorNombreProducto()">Filtrar Búsqueda</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5">

  <div class="table-responsive">
      <table class="table table-bordered table-striped text-center">
          <thead class="thead-dark">
              <tr>
                  <th scope="col">Nombre Producto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Fecha Ingreso</th>
                  <th scope="col">Usuario Registro</th>
                  <th scope="col">Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of mercancia">
                  <td>{{item.nombreProducto}}</td>
                  <td>{{item.cantidad}}</td>
                  <td>{{item.fechaIngreso}}</td>
                  <td>{{item.usuario.nombre}}</td>
                  <td>
                      <div class="btn-group">                               
                          <button class="btn btn-warning btn-sm" (click)="editarMercancia(item)"  data-toggle="modal" data-target="#miModalEdit">Editar</button>
                          <button  (click)="eliminarMercancia(item)" class="btn btn-danger btn-sm">Eliminar</button>
                      </div>
                  </td>
              </tr>
          
          </tbody>
      </table>
  </div>
</div>


<button name="nuevo" type="button" (click)="clearValues()" data-toggle="modal" data-target="#miModal" class="btnAnimado mt-4 mb-4 bt-10" >Registrar Producto</button>





<!-- Modal -->
<div class="modal fade" id="miModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-content">
        <form >
          <div class="modal-body">
            <div class="form-group">
              <label for="nombreProducto">Nombre del Producto</label>
              <input type="text" id="nombreProducto" name="nombreProducto" class="form-control" required [(ngModel)]="nuevaMercancia.nombreProducto">
            </div>
            <div class="form-group">
              <label for="cantidad">Cantidad</label>
              <input type="number" id="cantidad" name="cantidad" class="form-control" required [(ngModel)]="nuevaMercancia.cantidad">
            </div>
            <div class="form-group">
              <label for="fechaIngreso">Fecha de Ingreso</label>
              <input type="date" [max]="fechaActual" id="fechaIngreso" name="fechaIngreso" class="form-control" required [(ngModel)]="nuevaMercancia.fechaIngreso">
            </div>
        
            <div class="form-group">
              <label for="usuario">Usuario</label>
              <select class="form-control" id="usuario" name="usuario" [(ngModel)]="usuarioSelectd.id">
                <option *ngFor="let usuario of listaDeUsuarios" [value]="usuario.id">{{ usuario.nombre }}</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" (click)="guardarMercancia()" class="btn btn-primary">Guardar</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>


<!-- Modal Edit-->
<div class="modal fade" id="miModalEdit" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-content">
        <form >
          <div class="modal-body">
            <div class="form-group">
              <label for="nombreProducto1">Nombre del Producto</label>
              <input type="text" id="nombreProducto1" name="nombreProducto1" class="form-control" required [(ngModel)]="editMercancia.nombreProducto">
            </div>
            <div class="form-group">
              <label for="cantidad1">Cantidad</label>
              <input type="number" id="cantidad1" name="cantidad1" class="form-control" required [(ngModel)]="editMercancia.cantidad">
            </div>
            <div class="form-group">
              <label for="fechaIngreso1">Fecha de Ingreso</label>
              <input type="date" [max]="fechaActual" id="fechaIngreso1" name="fechaIngreso1" class="form-control" required [(ngModel)]="editMercancia.fechaIngreso">
            </div>
        
            <div class="form-group">
              <label for="usuario">Usuario Modifica</label>
              <select class="form-control" id="usuario1" name="usuario1" [(ngModel)]="usuarioSelectd.id">
                <option *ngFor="let usuario of listaDeUsuarios" [value]="usuario.id">{{ usuario.nombre }}</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" (click)="guardarEditMercancia()" class="btn btn-primary">Guardar</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>